body {
    margin: 20px;
    background-color: #2b2839;
    font-family: Arial, Helvetica, sans-serif;
    color: #2a324b;
}

.avatar {
    width: 160px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 0px solid #2a324b;
    border-radius: 50%;
}

.card {
    width: 320px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #fefaf2; 
    color: #2b2839;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        
}

@keyframes blink {
            25% {
                color: yellowgreen;
            }

            50% {
                color: orange;
            }
            
            75% {
                color: red;
            }

            100% {
                color: purple;
            }
        }

.text-cont {
    margin: auto auto;
    
    text-align: right;
    line-height: 0.4;
}

.persona {
    font-size: 12px;
    justify-items: right;
}

.connect-links {
    margin-top: 70px;
    text-align: left;
    font-size: 10px;
    color: #2b2839;
    font-weight: bold;
    animation: blink 1s infinite;
}

.social {
    padding-top: 5px;
}
